extends layout

block content
  //- .container-fluid
  //-   h1 Decision
  //-   p Sistema de Head Hunting
  //- 
  //-   .row
  //-     .col-md-2
  //-       ul.list-group.list-group-flush
  //-         li.list-group-item
  //-           a(href='/applicants') Candidatos
  //-         li.list-group-item
  //-           a(href='/vacancies') Vagas
        